.vscode
.idea/
.DS_Store
databases/
databases/*
gateway/bootstrap/cache/*
gateway/vendor
gateway/.env
gateway/node_modules/
gateway/storage/
/gateway/public/js/*
/gateway/public/css/app.css
/gateway/public/css/app.js
gateway/public/storage
gateway/node_modules
gateway/node_modules/*
gateway/public/webfonts/*
gateway/public/webfonts
gateway/public/css
gateway/public/js

/gateway/public/webfonts/*
/gateway/public/webfonts
/gateway/public/css
/gateway/public/js

mongodbdata
mongodbdata/
microservices/boops/node_modules
microservices/boops/.env
microservices/boops/package-lock.json
microservices/boops/tmp
microservices/boops/database/*.sqlite
microservices/boops/.history
microservices/boops/.idea
microservices/boops/yarn.lock

microservices/*.pyc
plugins/dwd/resources/attributes/__pycache__
plugins/dwd/resources/attributes/__pycache__/*
plugins/dwd/resources/categories/boxes/__pycache__/*
plugins/dwd/routes/__pycache__/routes.cpython-39.pyc

microservices/finder/__pycache__
microservices/finder/factory/__pycache__
microservices/finder/helpers/__pycache__
microservices/finder/models/__pycache__
microservices/finder/.prod_env
microservices/finder/.env
/microservices/finder/.prod_env
/microservices/finder/.env
portal/dist
microservices/similarity/__pycache__
microservices/similarity/factory/__pycache__
microservices/similarity/helpers/__pycache__

plugins/dwd/__pycache__
plugins/dwd/factory/__pycache__
plugins/dwd/helpers/__pycache__
plugins/dwd/models/__pycache__

plugins/saxo/__pycache__
plugins/saxo/factory/__pycache__
plugins/saxo/helpers/__pycache__
plugins/saxo/models/__pycache__

microservices/assortments/__pycache__
microservices/assortments/factory/__pycache__
microservices/assortments/helpers/__pycache__
microservices/assortments/models/__pycache__
microservices/assortments/.prod_env
microservices/assortments/.env
/microservices/assortments/.prod_env
/microservices/assortments/.env


microservices/discount/node_modules
microservices/discount/.env
microservices/discount/package-lock.json
microservices/discount/tmp
microservices/discount/database/*.sqlite
microservices/discount/.history
microservices/discount/.idea

microservices/margin/node_modules
microservices/margin/.env
microservices/margin/package-lock.json
microservices/margin/tmp
microservices/margin/database/*.sqlite
microservices/margin/.history
microservices/margin/.idea

microservices/price/node_modules
microservices/price/.env
microservices/price/package-lock.json
microservices/price/tmp
microservices/price/database/*.sqlite
microservices/price/.history
microservices/price/.idea

portal/.nuxt
portal/.nuxt/*
portal/static/sw.js
portal/static/sw.*
portal/node_modules
portal/yarn-error.log
portal/yarn.lock
portal/.env

suppliers/saxo/files/*
suppliers/saxo/files

k8s/cert/*
k8s/config/*

/k8s/cert/*
/k8s/config/*
/microservices/find/node_modules/
