finder/rclone.conf
finder/.env
finder/venv/
finder/env/
finder/.venv/
finder/.env/
finder/.env.*
finder/dump.rdb
finder/appendonly.aof
finder/*.pyc
finder/*.pyo
finder/*.pyd
finder/__pycache__/
__pycache__/
finder/*.py[cod]
finder/*$py.class
finder/*.sqlite3
finder/*.db
finder/*.log
finder/.vscode/
finder/.idea/
.idea/
finder/.DS_Store
finder/Thumbs.db
