.vscode
.idea/
.DS_Store
databases*
databases_09/databases/
databases_09/databases/*
gateway/bootstrap/cache/*

gateway/vendor
gateway/.env
gateway/node_modules/
gateway/storage/
/gateway/public/js/*
/gateway/public/css/app.css
/gateway/public/css/app.js
gateway/public/storage
gateway/node_modules
gateway/node_modules/*
gateway/public/webfonts/*
gateway/public/webfonts
gateway/public/css
gateway/public/js

/gateway/public/webfonts/*
/gateway/public/webfonts
/gateway/public/css
/gateway/public/js

#microservices/machines/*

mongodbdata
mongodbdata/
microservices/boops/node_modules
microservices/boops/.env
microservices/boops/package-lock.json
microservices/boops/tmp
microservices/boops/database/*.sqlite
microservices/boops/.history
microservices/boops/.idea
microservices/boops/yarn.lock
microservices/price/price/node_modules
microservices/price_old/node_modules

microservices/*.pyc
plugins/dwd/resources/attributes/__pycache__
plugins/dwd/resources/attributes/__pycache__/*
plugins/dwd/resources/categories/boxes/__pycache__/*
plugins/dwd/routes/__pycache__/routes.cpython-39.pyc
**/__pycache__/
*.pycgit

microservices/finder/__pycache__
microservices/finder/factory/__pycache__
microservices/finder/helpers/__pycache__
microservices/finder/models/__pycache__
microservices/finder/.prod_env
microservices/finder/.env
/microservices/finder/.prod_env
/microservices/finder/.env
portal/dist
microservices/similarity/__pycache__
microservices/similarity/__pycache__/*
microservices/similarity/factory/__pycache__
microservices/similarity/factory/__pycache__/*
microservices/similarity/helpers/__pycache__
microservices/similarity/helpers/__pycache__/*
microservices/preflight/storage/logs/queue-worker.log
microservices/preflight/storage/logs/socket-worker.log

plugins/printcom/.env

plugins/dwd/__pycache__
plugins/dwd/factory/__pycache__
plugins/dwd/helpers/__pycache__
plugins/dwd/models/__pycache__
plugins/dwd/flask_session/*
plugins/dwd/flask_session

plugins/saxo/__pycache__
plugins/saxo/factory/__pycache__
plugins/saxo/helpers/__pycache__
plugins/saxo/models/__pycache__

plugins/printcom/boop.json
plugins/printcom/flyer.json
plugins/printcom/.idea


microservices/search/search/.env
microservices/search/search/data/*

microservices/assortments/__pycache__
microservices/assortments/factory/__pycache__
microservices/assortments/helpers/__pycache__
microservices/assortments/models/__pycache__
microservices/assortments/.prod_env
microservices/assortments/.env
/microservices/assortments/.prod_env
/microservices/assortments/.env
/microservices/assortments/flask_session
/microservices/assortments/flask_session/*


microservices/discount/node_modules
microservices/discount/.env
microservices/discount/package-lock.json
microservices/discount/tmp
microservices/discount/database/*.sqlite
microservices/discount/.history
microservices/discount/.idea

microservices/margin/node_modules
microservices/margin/margin/.env
microservices/margin/package-lock.json
microservices/margin/tmp
microservices/margin/database/*.sqlite
microservices/margin/.history
microservices/margin/.idea

/microservices/price/price/node_modules

microservices/price/.env
microservices/price/package-lock.json
microservices/price/tmp
microservices/price/database/*.sqlite
microservices/price/.history
microservices/price/.idea

microservices/converter/node_modules
microservices/converter/.env
microservices/converter/vendor

microservices/preflight/node_modules
microservices/preflight/.env
microservices/preflight/vendor
microservices/preflight/*.log
microservices/preflight/storage/logs/


portal/.nuxt
portal/.nuxt/*
portal/static/sw.js
portal/static/sw.*
portal/node_modules
portal/yarn-error.log
portal/.env

suppliers/saxo/files/*
suppliers/saxo/files

/microservices/find/node_modules/
/plugins/v2importer/**.pyc
.history

.nuxt-storybook

gateway/.bash_history
gateway/.viminfo
gateway/.selected_editor
gateway/public/docs
backup-db

/plugins/printcom/props.json
plugins/printcom/go/data.json
gateway/public/docs/collection.json