search/.env
search/rclone.conf

data/
.env
venv/
env/
.venv/
.env/
.env.*
dump.rdb
appendonly.aof
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.db
*.log
.vscode/
.idea/
.DS_Store
Thumbs.db
