apiVersion: v1
kind: Service
metadata:
  name: search
  namespace: cec
  labels:
    app: search
spec:
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
  selector:
    app: search
