MONGO_URI=mongodb://admin:ad@assortmentDB:27017/assortments

API_URL=https://api.stg.print.com/products

PROBO_API_URL=https://api.proboprints.com/products

API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJuYW1lIjoiYmVyZW5kQHByaW5kdXN0cnkubmwiLCJjdXN0b21lcklkIjoiNTc0IiwiY29nbml0b1VzZXJuYW1lIjoiMzAyZmNhNzQtYzg3NC00NjczLTliOWMtYWQxYjcxMDBlMTdkIiwicGVyc29uYWwiOnsiZW1haWwiOiJiZXJlbmRAcHJpbmR1c3RyeS5ubCIsIm5hbWUiOiJCZXJlbmQgV2l0aGFhciIsImZpcnN0bmFtZSI6IkJlcmVuZCIsImxhc3RuYW1lIjoiV2l0aGFhciJ9LCJyZWdpb24iOiJubCIsInN1YnNpZGlhcnkiOjcsImN1cnJlbmN5IjoiRVVSIiwiYXV0aG9yaXphdGlvbiI6IkJlYXJlciAxZDU2MzQwN2RmYWM0MzJhOWEyYTM3Y2EzYTFiOTNmNiJ9LCJtYWdlbnRvQXV0aG9yaXphdGlvbiI6IkJlYXJlciAxZDU2MzQwN2RmYWM0MzJhOWEyYTM3Y2EzYTFiOTNmNiIsInR5cGUiOiJjdXN0b21lciIsImlhdCI6MTc0MDkyMDI4NSwiZXhwIjoxNzQxMzUyMjg1fQ.8WE1OYUw-3CrYqNEdA1EGB4qayzTZwc5BzOuZXADy-0

PROBO_API_TOKEN=NGY2NjdhYzQyODAwNDMyMWI2ODQxNzBkYjMyNDk3NGY6ODRDYmEyRDg0MDRGNDI1Yjk0NDQ0MjBEZDIzMDk4MUQ=

CATEGORY_COLL=products
BOX_COLL=properties
OPTION_COLL=opts
BOOBS_COLL=oops
DB_NAME=assortments
POLICY_COLL=policies
EMAIL=berend@prindustry.nl
PASSWORD=UD$SsV++@$?
LOGIN_URL=https://api.stg.print.com/login

PASS_THROUGH_PROXY=False
PROXY_HOSTNAME=http://host.docker.internal:8080
