search/rclone.conf
search/.env
search/venv/
search/env/
search/.venv/
search/.env/
search/.env.*
search/dump.rdb
search/appendonly.aof
search/*.pyc
search/*.pyo
search/*.pyd
search/__pycache__/
__pycache__/
search/*.py[cod]
search/*$py.class
search/*.sqlite3
search/*.db
search/*.log
search/.vscode/
search/.idea/
.idea/
search/.DS_Store
search/Thumbs.db
