HOST=127.0.0.1
PORT=3333
NODE_ENV=development
APP_URL=http://${HOST}:${PORT}
CACHE_VIEWS=false
APP_KEY=S8T03lzO0vcqEyAEDcHwBxVyKJ4xFGNM
DB_CONNECTION=mongodb
DB_HOST=127.0.0.1
DB_PORT=27017
DB_USER=admin
DB_PASSWORD=ad
DB_DATABASE=adonis
SESSION_DRIVER=cookie
HASH_DRIVER=bcrypt


